<!DOCTYPE html>
<html>
  <head>
    <title>
      Low Light Image Enhancement
    </title>
  </head>
   <body>
     <h1> Upload .ARW raw image </h1>
      <form name = "form" enctype = "multipart/form-data"
         action = "{% url 'saveImage' %}" method = "POST" >{% csrf_token %}
         <div style = "max-width:470px;">
            <center>
               <input type = "file" style = "margin-left:20%;"
                  placeholder = "image" name = "image" />
            </center>
         </div>
         <br>
         <div style = "max-width:470px;">
            <center>
               <button style = "border:0px;background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%; margin-left:19%;" type = "submit" value = "Process" >
                  <strong>Process</strong>
               </button>
            </center>
         </div>
      </form>
      <h3> {{error_message}} </h3>
   </body>
</html>
