<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>
    Low Light Image Enhancement Output
  </title>
</head>
<style>
* {
  box-sizing: border-box;
}
.column {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
   <body>
     <div class = "row">
       <div class = "column">
        <h2> Input: </h2>
          <img src="{% static "in.png" %}" alt="Input Image" style="height: 30%; width:30%"/>
       </div>
       <div class = "column">
        <h2> Output: </h2>
         <img src="{% static "out.png" %}" alt="Output Image" style="height: 30%; width:30%"/>
       </div>
     </div>
    <form action="./saved">
     <input type="submit" value="Try another image" />
   </form>
   </body>
</html>
